<a href="https://colab.research.google.com/github/FaezehNaghipour/digital_product/blob/master/PythonwithAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data in python**
There are differens types of data in Python.
# 1) **strings**
strings are used to store and manipulate text.

In [ ]:
print ("hello, world")

In [ ]:
print ( "my favorite drink is black tea")

In [ ]:
print ("¯\_(ツ)_/¯")

In [ ]:
print ("3.58")

# **Multiline strings**
if i use triple quotation mark, i can store a multiline string.

In [1]:
print(""" hi guys,
     this is my first practice of python language """)

 hi guys,
     this is may first practice of python language

# **The type () fanction**
In python, we can check the type of any data that we are using.

In [2]:
type("faezeh")

str

using quotation make tell python can treat a number as text

In [3]:
type("9.4")

str

# **2)intiger**
the short terms of it is int, which is for describeing number

In [4]:
print (500)

500

In [5]:
type(500)

int

# **3) Float**
For defining decimal number

In [6]:
print(4.88)

4.88

In [7]:
type(4.88)

float

# **calculation in python**
Python works great for quick arithmetic operations.For instance we want to compute the total number of students at school

In [8]:
print (28+36+48+25+31+33)

201

# ** Order of opereation **

In [9]:
print (55+65*2/3)

98.33333333333334

In [10]:
print( (55+65)*2/3)

80.0